h1 {
  font-family: 'Alkalami', serif;
  text-shadow: 6px 5px 8px black;
}

h4 {
  margin-bottom: 0;
  font-size: 25px;
}

ul,
ol {
  margin-top: 0;
  font-weight: bold;
  font-family: 'Alkalami', serif;
}

.copyright {
  font-family: Arial;
  font-size: 9px;
  font-style: italic;
}

#nav {
  width: 100%;
  height: 2rem;
  background-color: #ccc;
}

#nav a {
  font-size: 80%;
  text-decoration: none;
  padding-right: 1rem;
}

#heroBanner {
  position: relative;
  background-image: none; /* url(https://images.unsplash.com/photo-1615837197154-2e801f4bd294?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80); */
  width: 100%;
  height: 45vh;
  bottom: 15px;
  background-position: center center;
  background-size: cover;
}

#heroBanner h1 {
  font-size: 80px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#heroBanner h1.tp {
  font-size: 40px;
}

#heroBanner h1.black {
  color: black;
  text-shadow: 6px 5px 8px white;
}

#heroBanner h4 {
  position: absolute; 
  bottom: 0;
  left: 2%;
  color: #fff;
  top: 80%;
 
}

#footer {
  font-family: Arial;
  font-size: 12px;
  color: black;
  background-color: #e0d3d4;
}

#recipeColumns {
  position: relative;
  width: 100%;
  height: 50vh;
  display: block;
}

#recipeColumns div {
  float: left;
  display: inline-block;
  position: relative;
}

#recipeColumns div#ingredients {
  width: 33%;
}

#recipeColumns div#equipment {
  width: 33%;
}

#recipeColumns div#directions {
  width: 33%;
}



#recipeColumns #ingredients.tpShow ul,
#recipeColumns #equipment.tpShow ul,
#recipeColumns #directions.tpShow ol{
  display: block;
}

  {
  box-sizing: border-box;
}

@media screen and (max-width: 915px) {
  #heroBanner {
    height: 100vh;
  }
  #heroBanner h1 {
    font-size: 40px;
  }
  #recipeColumns {
    width: 100%;
    height: auto;
    display: block;
  }
  #recipeColumns div {
    float: none;
    display: block;
  }
  #recipeColumns div#ingredients {
    width: 100%;
  }
  #recipeColumns div#equipment {
    width: 100%;
  }
  #recipeColumns div#directions {
    width: 100%;
  }
  #recipeColumns li {
    font-size: 15px;
  }
  #recipeColumns h4 {
    font-size: 20px;
  }
}

@media screen and (orientation: portrait) {
  #heroBanner {
    height: 50vh;
  }
  #heroBanner h1 {
    font-size: 50px;
  }
  ##recipeColumns {
    width: 100%;
    height: auto;
    display: block;
  }
  #recipeColumns div {
    float: none;
    display: block;
  }
  #recipeColumns div#ingredients {
    width: 100%;
  }
  #recipeColumns div#equipment {
    width: 100%;
  }
  #recipeColumns div#directions {
    width: 100%;
  }
  #recipeColumns li {
    font-size: 15px;
  }
  #recipeColumns h4 {
    font-size: 20px;
  }
}